<!DOCTYPE html>
<html lang="en">

<head>
  <title>firecat</title>
  <link rel="stylesheet" href="../static/chat.css">
</head>

<body>
  <div class="upbar">

    <div class="logoAndInput">

      <div class="logo">
        <a href="https://www.google.com/webhp?hl=zh-TW&amp;sa=X&amp;ved=0ahUKEwji76by_Yf8AhXVO3AKHQLHDdIQPAgI"
          title="Google 首頁" id="logo">
          <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_light_color_92x30dp.png"
            style="background:none" alt="Google" height="30" width="92" data-atf="1" data-frt="0">
        </a>
      </div>
      <div class="searchinput">
        <input class="searchinput" type="text" name="user" id="input" />
        <button class="submit" id="submit">
          <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
            </path>
          </svg>
        </button>
      </div>
    </div>
    <div class="searchType">
      <a href="https://www.youtube.com/watch?v=XA-D0jY0Z9w">
        <button class="searchType">
          <svg focusable="false" viewBox="0 0 24 24">
            <path fill="#34a853" d="M10 2v2a6 6 0 0 1 6 6h2a8 8 0 0 0-8-8"></path>
            <path fill="#ea4335" d="M10 4V2a8 8 0 0 0-8 8h2c0-3.3 2.7-6 6-6"></path>
            <path fill="#fbbc04" d="M4 10H2a8 8 0 0 0 8 8v-2c-3.3 0-6-2.69-6-6"></path>
            <path fill="#4285f4"
              d="M22 20.59l-5.69-5.69A7.96 7.96 0 0 0 18 10h-2a6 6 0 0 1-6 6v2c1.85 0 3.52-.64 4.88-1.68l5.69 5.69L22 20.59">
            </path>
          </svg>
          全部
        </button>
      </a>
      <a href="https://www.youtube.com/watch?v=XA-D0jY0Z9w">
        <button class="searchType">
          <svg focusable="false" viewBox="0 0 24 24">
            <path fill="#4285f4" d="M10 16.5l6-4.5-6-4.5"></path>
            <path fill="#ea4335" d="M20 12h2v7.5a2.5 2.5 0 0 1-2.5 2.5H12v-2h7a1 1 0 0 0 1-1v-7"></path>
            <path fill="#fbbc04" d="M20 12V5a1 1 0 0 0-1-1h-7V2h7.6A2.4 2.4 0 0 1 22 4.4V12h-2"></path>
            <path fill="#34a853"
              d="M12 20v2H5a3 3 0 0 1-3-3V4.4A2.4 2.4 0 0 1 4.4 2H12v2H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h7"></path>
          </svg>
          影片
        </button>
      </a>
      <a href="https://www.youtube.com/watch?v=XA-D0jY0Z9w">
        <button class="searchType">
          <svg focusable="false" viewBox="0 0 24 24">
            <path
              d="M14 13l4 5H6l4-4 1.79 1.78L14 13zm-6.01-2.99A2 2 0 0 0 8 6a2 2 0 0 0-.01 4.01zM22 5v14a3 3 0 0 1-3 2.99H5c-1.64 0-3-1.36-3-3V5c0-1.64 1.36-3 3-3h14c1.65 0 3 1.36 3 3zm-2.01 0a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h7v-.01h7a1 1 0 0 0 1-1V5">
            </path>
          </svg>
          地圖
        </button>
      </a>
      <a href="https://www.youtube.com/watch?v=XA-D0jY0Z9w">
        <button class="searchType">
          <svg focusable="false" viewBox="0 0 24 24">
            <path
              d="M12 11h6v2h-6v-2zm-6 6h12v-2H6v2zm0-4h4V7H6v6zm16-7.22v12.44c0 1.54-1.34 2.78-3 2.78H5c-1.64 0-3-1.25-3-2.78V5.78C2 4.26 3.36 3 5 3h14c1.64 0 3 1.25 3 2.78zM19.99 12V5.78c0-.42-.46-.78-1-.78H5c-.54 0-1 .36-1 .78v12.44c0 .42.46.78 1 .78h14c.54 0 1-.36 1-.78V12zM12 9h6V7h-6v2">
            </path>
          </svg>
          新聞
        </button>
      </a>
      <a href="https://www.youtube.com/watch?v=XA-D0jY0Z9w">
        <button class="searchType">
          <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z">
            </path>
          </svg>
          更多
        </button>
      </a>

    </div>
    <div class="splitLine"><br></div>
    <div class="searchTime"> 約有 25,270,000,000 項結果 (搜尋時間：0.43 秒)  </div>

  </div>
  <!-- /<img src="{{url_for('static', filename='chattitle.png')}}" /> -->
  <div class='chatroom'>

    <ul id="context">


    </ul>

  </div>
</body>
<script>
  let copyPasta = ["不好意思打斷你。你所說的Linux，事實是上GNU/Linux，或者我習慣叫他GNU+Linux。Linux本身並不是一個作業系統，而是功能齊全的GNU系統其中的一個自由組件，shell和其他重要的系統組件靠POSIX構成了完整作業系統...",
    " Many computer users run a modified version of the GNU system every day, without realizing it. Through a peculiar turn of events, the version of GNU which is widely used today is often called Linux, and many of its users are not aware that it is basically the GNU system, developed by the GNU Project.",
    "There really is a Linux, and these people are using it, but it is just a part of the system they use. Linux is the kernel: the program in the system that allocates the machine's resources to the other programs that you run. The kernel is an essential part of an operating system, but useless by itself; it can only function in the context of a complete operating system. Linux is normally used in combination with the GNU operating system: the whole system is basically GNU with Linux added, or GNU/Linux. All the so-called Linux distributions are really distributions of GNU/Linux! ",
    "高中想先讀微積分，大學想修好微積分？唯一推薦Rudin寫的《Principle of mathematical analysis》，這本書輕、薄、短、小，是數學系愛用的名著。微積分的書往往很大一本，又重又厚，對剛接觸微積分的人來說，常感到相當震撼而放棄學習。Rudin寫書最大的特色就是兩個字：簡潔。他寫書的功力之強大，別人需要很大的篇幅處理的，他幾筆就帶過了，適合對英文有障礙的人，能馬上看到重點，廢話不多。",
    "如果你覺得我說的話不可信，那看看臺大數學系的書評吧：「這本書不論是自修、教學，都很適合。是本很好的書。」「與其說這是一本教科書，不如說這是一本字典。」由此可見，這本書適合自己讀，內容豐富，常被數學系拿來使用，也就不意外了。事實上這本書還有一個暱稱：Baby rudin，可想而知，它相當平易近人。",
    "大致來看裡面的內容，第一章先幫你複習什麼是實數(你看，像不像回到國小)，第二章來點有趣的拓樸， 像是距離、連通一些基本概念，讓你重拾對數學的興趣。第三章先講數列的收斂，第四章談連續性，一直在複習高中的內容，怕你沒有聽選修數學。直到第五、六章，才正式進入微分和積分，後面都是有趣的題材，像第八章告訴你幾個特殊函數，在一些問題上能應用這些技巧，第九章講多變數函數，順便複習線性代數。第十章是幾何的內容，這在微積分的書很少見，可以參考參考。總之，這是一本內容豐富的好書，真心不私藏，在這邊推薦給大家。",
  ];
  function send() {
    console.log("send")
    let text = document.querySelector("#input").value
    let data = {
      "name": "client1",
      "text": text,
    }
    console.log(data)
    let xhr = new XMLHttpRequest()
    xhr.open("POST", "/post")
    xhr.setRequestHeader('Content-type', 'application/json');
    xhr.send(JSON.stringify(data))
  }
  function update() {
    let xhr = new XMLHttpRequest()
    xhr.open("GET", "/get")
    xhr.send()
    xhr.onload = () => {
      console.log("update scuss")
      let data = JSON.parse(xhr.response)
      console.log(data)
      let block = document.querySelector("#context")
      block.innerHTML = ""
      let copyPastaIndex = 0;

      data.forEach(element => {
        if (copyPastaIndex >= copyPasta.length) {
          copyPastaIndex = 0;
        }

        buf = ''
        for (const key in element) {
          if (key == 'text') {
            block.innerHTML = "<li ><a href='https://www.youtube.com/watch?v=XA-D0jY0Z9w'> " + "<h3>" + element[key] + buf + block.innerHTML;
          } else {
            buf += " - " + element[key] + "</h3></a>" + "</li > ";
            buf += '<li class="text">' + copyPasta[copyPastaIndex] + '</li>'
            copyPastaIndex += 1;
          }

        }
      });
    };

  }
  document.querySelector("#submit").addEventListener("click", send)
  setInterval(update, 100);
</script>

</html>