<!DOCTYPE html>
<html lang="en">

<head>
  <title>firecat</title>
  <link rel="stylesheet" href="../static/chat.css">
</head>

<body>
  <div class="upbar">

    <div class="logoAndInput">

      <div class="logo">
        <a href="https://www.google.com/webhp?hl=zh-TW&amp;sa=X&amp;ved=0ahUKEwji76by_Yf8AhXVO3AKHQLHDdIQPAgI"
          title="Google 首頁" id="logo" data-hveid="8">
          <div class="logoImg">

            <img class="jfN4p"
              src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_light_color_92x30dp.png"
              style="background:none" alt="Google" height="30" width="92" data-atf="1" data-frt="0">
          </div>
        </a>
      </div>
      <div class="searchinput">

        <input class="searchinput" type="text" name="user" id="input" />
        <button class="submit" id="submit">
          <img src="https://icons8.com/icon/7695/search" style="background:transparent" alt="Google" height="30"
            width="92" data-atf="1" data-frt="0">

          </a></button>
      </div>
    </div>
  </div>
  <!-- /<img src="{{url_for('static', filename='chattitle.png')}}" /> -->
  <br>
  <div class='chatroom'>

    <ul id="context">


    </ul>

  </div>
</body>
<script>
  function send() {
    console.log("send")
    let text = document.querySelector("#input").value
    let data = {
      "name": "client1",
      "text": text,
    }
    console.log(data)
    let xhr = new XMLHttpRequest()
    xhr.open("POST", "/post")
    xhr.setRequestHeader('Content-type', 'application/json');
    xhr.send(JSON.stringify(data))
  }
  function update() {
    let xhr = new XMLHttpRequest()
    xhr.open("GET", "/get")
    xhr.send()
    xhr.onload = () => {
      console.log("update scuss")
      let data = JSON.parse(xhr.response)
      console.log(data)
      let block = document.querySelector("#context")
      block.innerHTML = ""

      data.forEach(element => {
        buf = ''
        for (const key in element) {
          if (key == 'text') {
            block.innerHTML += "<li >" + "<h3>" + element[key] + buf;
          } else {
            buf += " - " + element[key] + "</h3 " + "</li > ";
            buf += '<li class="text">1.2. 什麼是GNU/Linux？ ... 作業系統由許多基礎程式組成，它們是讓電腦接受使用者指令並與之溝通的必要程式；讀取資料或將其寫入硬碟、磁帶或印表機；控制記憶體的使用； ...</li>'
          }
        }
      });
    };

  }
  document.querySelector("#submit").addEventListener("click", send)
  setInterval(update, 100);
</script>

</html>