<!DOCTYPE html>
<html lang="en">

<head>
  <title>firecat</title>
</head>

<body>
  <h1>chat</h1>
  <h2>Enter Chat:</h2>
  <dir id="context">


  </dir>

  <dir>
    <p><input type="text" name="user" id="input" /></p>
    <p><button id="submit" />submit</p>
  </dir>
</body>
<script>
  function send() {
    console.log("send")
    let text = document.querySelector("#input").value
    let data = {
      "name": "client1",
      "text": text,
    }
    console.log(data)
    let xhr = new XMLHttpRequest()
    xhr.open("POST", "/post")
    xhr.setRequestHeader('Content-type', 'application/json');
    xhr.send(JSON.stringify(data))
  }
  function update() {
    let xhr = new XMLHttpRequest()
    xhr.open("GET", "/get")
    xhr.send()
    xhr.onload = () => {
      console.log("update scuss")
      let data = JSON.parse(xhr.response)
      console.log(data)
      let block = document.querySelector("#context")
      block.innerHTML = ""
      data.forEach(element => {
        for (const key in element) {
          block.innerHTML += key + ":" + element[key] + "\n"
        }
      });
    };

  }
  document.querySelector("#submit").addEventListener("click", send)
  setInterval(update, 100);
</script>

</html>