    body {
        background-color: #202124;
        color: #bdc1c6;
        display: flex;
        flex-direction: column;
        font-family: arial, sans-serif;
    }


    div.upbar {

        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 10vh;
        position: sticky;


    }

    div.logoAndInput {
        width: 70vw;
        height: auto;
        position: relative;
        padding-left: 20px;
        justify-content: left;
        display: flex;
        flex-direction: row;

    }

    div.logo {
        width: 92px;
        height: 30px;
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 30px;
        padding-left: 28px;

    }



    div.searchinput {
        flex-direction: row;
        display: flex;
        width: 540px;
        height: 46px;
        background: #303134;
        border: 1px solid transparent;
        border-radius: 24px;
        justify-content: space-between;

    }

    input.searchinput {
        font-family: arial, sans-serif;
        font-size: 20px;
        color: #bdc1c6;
        border: 1px solid transparent;
        margin-left: 20px;
        background: #303134;
        width: 380px;
    }

    input.searchinput:focus {
        outline: none;
    }


    button.submit {
        width: 30px;
        font-size: 30px;
        background: transparent;
        margin-right: 20px;
        border: none;
        outline: 0;
    }


    div.searchType {
        width: 446px;
        height: 55px;
        display: flex;
        flex-direction: row;
        margin-top: 20px;

    }

    button.searchType {
        font-family: Google Sans, arial, sans-serif;
        width: 71px;
        height: 16px;
        padding: 10 10 10 10;

        font-size: 14px;
        color: #bdc1c6;
        background: transparent;
        border: none;
        outline: 0;

    }





    div.context {
        top: 100px;

        display: flex;
        position: relative;
    }



    div.chatroom {

        margin-left: 200px;
        width: 50vw;
    }

    h3 {
        color: #8ab4f8;
        font-family: arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        padding-top: 5px;
    }

    li {
        list-style-type: none;
    }

    li.text {
        font-family: arial, sans-serif;
        font-size: 14px;
        margin-top: 6px;
    }