    body {
        background-color: #202124;
        width: 90vw;
        height: 90vh;
        color: #bdc1c6;
    }

    div.logoAndInput {
        font-family: arial, sans-serif;
        font-size: 14px;
        color: #bdc1c6;
        --center-abs-margin: 180px;
        --grid-column-width: 36px;
        --content-width: calc(var(--grid-column-width)*20 + 380px);
        --center-width: calc(var(--grid-column-width)*12 + 220px);
        --grid-gutter-width: 20px;
        --rhs-width: calc(var(--grid-column-width)*7 + 120px);
        --rhs-margin: calc(var(--content-width) - var(--center-width) - var(--rhs-width));
        margin: 0 auto;
        width: 692px;
        margin-left: calc(var(--center-abs-margin) - 47px);
        position: relative;
        padding-left: 27px;
    }

    div.upbar {
        font-family: arial, sans-serif;
        font-size: 14px;
        color: #bdc1c6;
        --center-abs-margin: calc(25vw + -184.75px);
        --grid-column-width: 36px;
        --content-width: calc(var(--grid-column-width)*20 + 380px);
        --center-width: calc(var(--grid-column-width)*12 + 220px);
        --grid-gutter-width: 20px;
        --rhs-width: calc(var(--grid-column-width)*7 + 120px);
        --rhs-margin: calc(var(--content-width) - var(--center-width) - var(--rhs-width));
        background: #202124;
        height: 69px;
        left: 0;
        position: absolute;
        width: 100%;
        margin-top: 20px;
    }

    button.submit {
        --center-abs-margin: calc(25vw + -184.75px);
        --grid-column-width: 36px;
        --content-width: calc(var(--grid-column-width)*20 + 380px);
        --center-width: calc(var(--grid-column-width)*12 + 220px);
        --grid-gutter-width: 20px;
        --rhs-width: calc(var(--grid-column-width)*7 + 120px);
        --rhs-margin: calc(var(--content-width) - var(--center-width) - var(--rhs-width));
        margin: 0;
        height: 44px;
        width: 44px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        flex: 0 0 auto;
        padding-right: 13px;
        outline: 0;
        display: flex;


    }

    div.searchinput {
        flex-direction: row;
        display: flex;

    }

    input.searchinput {
        font-family: arial, sans-serif;
        font-size: 20px;
        color: #bdc1c6;
        --center-abs-margin: calc(25vw + -184.75px);
        --grid-column-width: 36px;
        --content-width: calc(var(--grid-column-width)*20 + 380px);
        --center-width: calc(var(--grid-column-width)*12 + 220px);
        --grid-gutter-width: 20px;
        --rhs-width: calc(var(--grid-column-width)*7 + 120px);
        --rhs-margin: calc(var(--content-width) - var(--center-width) - var(--rhs-width));
        display: flex;
        z-index: 3;
        height: 44px;
        background: #303134;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
        border-radius: 24px;
        margin: 0 auto;
        width: 690px;
    }

    div.icon {
        width: 10;
        height: 10;
    }

    div.searchbar {
        font-family: arial, sans-serif;
        font-size: 14px;
        color: #bdc1c6;
        --center-abs-margin: calc(25vw + -184.75px);
        --grid-column-width: 36px;
        --content-width: calc(var(--grid-column-width)*20 + 380px);
        --center-width: calc(var(--grid-column-width)*12 + 220px);
        --grid-gutter-width: 20px;
        --rhs-width: calc(var(--grid-column-width)*7 + 120px);
        --rhs-margin: calc(var(--content-width) - var(--center-width) - var(--rhs-width));
        display: flex;
        z-index: 3;
        height: 44px;
        background: #303134;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
        border-radius: 24px;
        margin: 0 auto;
        width: 690px;
    }

    div.logo {
        font-family: arial, sans-serif;
        font-size: 14px;
        color: #bdc1c6;
        --center-abs-margin: 180px;
        --grid-column-width: 36px;
        --content-width: calc(var(--grid-column-width)*20 + 380px);
        --center-width: calc(var(--grid-column-width)*12 + 220px);
        --grid-gutter-width: 20px;
        --rhs-width: calc(var(--grid-column-width)*7 + 120px);
        --rhs-margin: calc(var(--content-width) - var(--center-width) - var(--rhs-width));
        position: absolute;
        left: -139px;
        padding: 4px 28px 0 30px;
        top: 6px;
        width: 100px;

    }

    div.logoImg {
        font-family: arial, sans-serif;
        font-size: 14px;
        --center-abs-margin: 180px;
        --grid-column-width: 36px;
        --content-width: calc(var(--grid-column-width)*20 + 380px);
        --center-width: calc(var(--grid-column-width)*12 + 220px);
        --grid-gutter-width: 20px;
        --rhs-width: calc(var(--grid-column-width)*7 + 120px);
        --rhs-margin: calc(var(--content-width) - var(--center-width) - var(--rhs-width));
        color: #8ab4f8;
        -webkit-tap-highlight-color: rgba(255, 255, 255, .1);
        height: 30px;
        aspect-ratio: auto 92 / 30;
        width: 92px;
        filter: none;
        border: 0;
        background: none;
    }



    div.chatroom {

        margin-left: 200px;
        width: 50vw;
    }

    h3 {
        color: #8ab4f8;
        font-family: arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        padding-top: 5px;
    }

    li {
        list-style-type: none;
    }

    li.text {
        font-family: arial, sans-serif;
        font-size: 14px;
        margin-top: 6px;
    }